<div class="fields">
  <p>
    <%= f.label :name, "Choice" %>
    <%= link_to_remove_fields "remove", f %><br />
    <%= f.text_area :name, :rows => 3 %>
 <%= link_to_remove_fields "remove", f %><br />
  </p>

  
</div>